.bg-black {
  background-color: #0f0f0f;
}
.unique-bg {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  background: rgba(255,255,255,.6);

}

.bg-transparent-white {
  border-radius: 10px;
  padding-bottom: 15%;
  background: rgba(255,255,255,.5);
  margin-top: 40%;
}

.error-transparent-danger {
  border-radius: 10px;
  background: rgba(255,5,0,.4);
}

.text-white {
  color: white;
}
.myMod{
  margin-top: 5%;
}
.padding{
  padding-bottom: 3%;
}
.bg-tran{
  background-color: rgba(0,28,218,0.4);
}
