.bg-black {
  background-color: #0f0f0f;
}
@inputS: 100px;

.in {
  width: @inputS;
}


.in2 {
  width: @inputS * 2;
}

.unique-bg {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  background: rgba(255,255,255,.6);

}

.bg-transparent-white {
  background: rgba(255,255,255,.4);
  margin-top: 40%;
}

.test {}

