@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(session: Option[String])
@main("Scala Students", webJarsUtil) {
  @navbar("scalas", session)
  <div class="container margin-top-10">
    <div class="row">
      <div class="col-md-6">
        <div id="wowslider-container1">
          <div class="ws_images"><ul>
            <li><img src="@routes.Assets.versioned("data1/images/pexelsphoto325223.jpg")" alt="pexels-photo-325223" title="pexels-photo-325223" id="wows1_0"/></li>
            <li><img src="@routes.Assets.versioned("data1/images/pexelsphoto546819.jpg")" alt="pexels-photo-546819" title="pexels-photo-546819" id="wows1_1"/></li>
            <li><img src="@routes.Assets.versioned("data1/images/pexelsphoto574073.jpg")" alt="responsive slider" title="pexels-photo-574073" id="wows1_2"/></li>
            <li><img src="@routes.Assets.versioned("data1/images/pexelsphoto97077.jpg")" alt="pexels-photo-97077" title="pexels-photo-97077" id="wows1_3"/></li>
          </ul></div>
          <div class="ws_bullets"><div>
            <a href="#" title="pexels-photo-325223"><span><img src="@routes.Assets.versioned("data1/tooltips/pexelsphoto325223.jpg")" alt="pexels-photo-325223"/>
              1</span></a>
            <a href="#" title="pexels-photo-546819"><span><img src="@routes.Assets.versioned("data1/tooltips/pexelsphoto546819.jpg")" alt="pexels-photo-546819"/>
              2</span></a>
            <a href="#" title="pexels-photo-574073"><span><img src="@routes.Assets.versioned("data1/tooltips/pexelsphoto574073.jpg")" alt="pexels-photo-574073"/>
              3</span></a>
            <a href="#" title="pexels-photo-97077"><span><img src="@routes.Assets.versioned("data1/tooltips/pexelsphoto97077.jpg")" alt="pexels-photo-97077"/>
              4</span></a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-success text-capitalize well text-center">This web page was create by students of
          <span class="text-primary">Tashkent university of information technology</span>
          <span class="text-danger">urgench branch</span>!
        </h3>
        <div class="text-center">
          <button type="button" class="btn btn-success">See worked students name</button>
        </div>
      </div>
    </div>
    @*<div class="row">
      <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-bind="index"></td>
              <td data-bind="$data.name"></td>
              <td data-bind="$data.group"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>*@
    <script src="@routes.Assets.versioned("javascripts/wowslider.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    <br>
    <br>
  </div>


    }