@(activePage: String)
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <img class="navbar-brand-image" src="@routes.Assets.versioned("images/scala.png")"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class=@if(activePage == "home") {"active"}><a href="@routes.HomeController.index()">Home</a></li>
      <li class=@if(activePage == "tables") {"active"}><a href="@routes.HomeController.tables()">Tables</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="@routes.HomeController.logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>