@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@main("Sign Up", webJarsUtil) {
  @navbar("sign_up")
  <br>
  <h1 class="text-center text-danger">UNIQUE LOGIN FORM</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 menu">
        <div class="bg-transparent-blue">
          <h2 class="text-center">Sign In Form</h2>
          <form>
            <input type="text" class="form-control glyphicon  glyphicon-user" placeholder="USERNAME">
            <br>

            <input type="password" class="form-control glyphicon  glyphicon-lock" placeholder="********">
            <br>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-success ">SIGN IN</button>
              </div>
              <div class="col-md-6">
                <button type="reset" class="btn btn-danger">RESET</button>
              </div>
            </div>
          </form>
        </div>
        <div class=" col-md-6  ">
         <h2 class="text-center">Sign UP Form</h2>
          <form>
            <input type="text" class="form-control glyphicon  glyphicon-user" placeholder="USERNAME">
            <br>

            <input type="text" class="form-control glyphicon  glyphicon-phone-alt" placeholder="PHONE">
            <br>

            <input type="text" class="form-control glyphicon  glyphicon-user" placeholder="EMAIL ADDRESS">
            <br>

            <input type="password" class="form-control glyphicon  glyphicon-lock" placeholder="********">
            <br>
            <button type="button" class="btn btn-success">REGISTER</button>
          </form>
        </div>
      </div>
    </div>
  </div>
}